<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- Bootstrap icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />

    <!-- CSS -->
    <link rel="stylesheet/less" type="text/css" href="/css/home.less" />
    <script src="https://cdn.jsdelivr.net/npm/less@4.1.1"></script>

    <title>Imperium</title>
  </head>
  <body>
    <html>
      <head> </head>
      <body>
        <div class="area"></div>
        <nav class="main-menu">
          <ul>
            <li>
              <a href="http://justinfarrow.com">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text"> Dashboard </span>
              </a>
            </li>
            <li class="has-subnav">
              <a href="#">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text"> Stars Components </span>
              </a>
            </li>
            <li class="has-subnav">
              <a href="#">
                <i class="fa fa-list fa-2x"></i>
                <span class="nav-text"> Forms </span>
              </a>
            </li>
            <li class="has-subnav">
              <a href="#">
                <i class="fa fa-folder-open fa-2x"></i>
                <span class="nav-text"> Pages </span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                <span class="nav-text"> Graphs and Statistics </span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-font fa-2x"></i>
                <span class="nav-text"> Quotes </span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-table fa-2x"></i>
                <span class="nav-text"> Tables </span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-map-marker fa-2x"></i>
                <span class="nav-text"> Maps </span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-info fa-2x"></i>
                <span class="nav-text"> Documentation </span>
              </a>
            </li>
          </ul>

          <ul class="logout">
            <li>
              <a href="#">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text"> Logout </span>
              </a>
            </li>
          </ul>
        </nav>
      </body>
    </html>

    <!-- Bootstrap script -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
