<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Imperium</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Imperium</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/logIn">Connexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signIn">Inscritpion</a>
          </li>
        </ul>
      </div>
    </nav>

    <h1>Bienvenue sur Imperium</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni autem
      facilis illo sit maxime, deleniti ex, blanditiis odio dicta molestias
      officia, quas debitis cumque doloremque quasi pariatur exercitationem
      voluptatum inventore ipsam ut soluta corporis sint hic! Ex ipsa
      consequuntur ratione. Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Ullam voluptatibus reiciendis placeat autem reprehenderit neque? Quo
      quod unde veritatis similique consequuntur quia laudantium nobis! Laborum
      cum, sapiente deserunt perspiciatis cupiditate sed voluptatum vitae vero
      adipisci modi, voluptatem id iusto ipsum?
    </p>
  </body>
</html>
