<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Bootstrap icons-->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <title>Imperium</title>
    <!-- CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      data-th-href="@{/css/landingPage.css}"
    />
  </head>

  <body class="background-area">
    <!-- Header begining -->
    <header class="header-area">
      <nav class="navbar navbar-expand-lg navbar-light sub-header-area">
        <a class="navbar-brand" href="/index">Imperium</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logIn">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signIn">Sign-In</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Header end -->
    <!-- Landing Page Begining -->

    <div class="text-hoover">
      <h1>Unleash your project management</h1>
      <h1><span>I</span><span>M</span><span>POSSIBLE</span></h1>
    </div>

    <!-- Landing Page End -->
  </body>
</html>
