@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.header-error {
    width: 50%;
    margin: 0 auto;
}

.cards {
    display: flex;
}


#card {
    margin: 10px;
    display: flex;
    justify-content: column; 
}

.card-body {
    position: right;
    padding-bottom:-20px;
 
}

.newProjectLink{
  color:#096c86;
  font-weight: bold;
}

.sidebar{
    background-color:#313348;
    border-radius:0px 10px 10px 0px;
}
.title{
    color:beige;
}
#caret-down{
  padding-left:90px;
}
.fullname{
    font-weight:bold;
    white-space: nowrap;
    display:inline;
    display:inline;
    color:black;
}
.welcometext{
    display:inline;
    color:black;
}
.WelText{
  color:black;
  size :16px;
}
#welcomebox{
    background-color: white;
    height:50px;
    color: black;
    border-radius: 20px;
}

.divfig{
    display: inline-block;
     margin-left:10px;

}
#projectsharedTitle{
    margin-top:40px;
}

.container{
    width :320px;
    position: absolute;
}
.online{
    color : green;
    position:fixed;
    margin-top:30px;
}
.avatar{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar__meta{
    padding-left:20px;
}
.svgbtnplus{
  color :#004ca3;
  display:inline;
  margin-left:750px;
  
}
.svgbtnmoon{
  display:inline;
  margin-left: 10px;

}
.svgbtnnotification{
  display:inline;
  margin-left: 10px;
}
#contentProjects{
  background-color: white;
  border-radius: 20px;
  margin-top:30px;
}

#userCard{
  width: 30%;
  margin: 10px;
  display: inline-block;
}
.date{
  display: inline;
}
#dateStyle{
  margin-left: 80%;
  font-size: 17px;
  color:#3c3c3c;
  font-weight: bold;
}

#NoProjects{
  margin-top:20px;
}

h6{
  color:grey;
  
}
.projectsStatus{
  margin-left:360px;
  margin-right:100px;
  text-align:center;
}
.projectsStatus2{
  margin-right:120px;
  text-align:center;
}
.projectsStatus3{
  text-align:center;
}

h2{
  font-weight: bold;
}