/* ---------------------------------------------
Table of contents
------------------------------------------------
00. LogIn/SignIn Style
01. Index Corps


--------------------------------------------- */


/*------------------------------------------
Login styles
-----------------------------------------*/
body {
  padding-top: 0 !important;
}

/*
#form-container {
  padding-top: 40px;
}

/* .img-logo-border{
    border-image: url(../img/landing/logo.png);
} */

/* form {
  background-color: #dddd;
  border: 1px solid white;
} */
.toogle-wrapper {
  text-align: right;
}

.toogle-form {
  display: inline-block;
  color: white
}

.form-signin-h2 {
  color: white;

}

/*------------------------------------------
Index Corps
-----------------------------------------*/
.header-area {
  position: fixed;
  top: 40px;
  left: 30%;
  right: 30%;
  z-index: 1;
  height: 100px;
}

.sub-header-area {
  background-color: beige;
  border-radius: 20px 20px 20px 20px;
}

.welcome-area {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/landing/banner-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}