/* ---------------------------------------------
Table of contents
------------------------------------------------
00. LogIn/SignIn Style
01. Index Corps


--------------------------------------------- */


/*------------------------------------------
Login styles
-----------------------------------------*/
body {
  padding-top: 0 !important;
}

/*
#form-container {
  padding-top: 40px;
}

/* .img-logo-border{
    border-image: url(../img/landing/logo.png);
} */

/* form {
  background-color: #dddd;
  border: 1px solid white;
} */
.toogle-wrapper {
  text-align: right;
}

.toogle-form {
  display: inline-block;
  color: white
}

.form-signin-h2 {
  color: white;

}

/*------------------------------------------
Index Corps
-----------------------------------------*/
.header-area {}

.sub-header-area {
  position: fixed;
  top: 40px;
  left: 30%;
  right: 30%;
  z-index: 1;
  height: 60px;
  background-color: beige;
  border-radius: 20px 20px 20px 20px;
}

body {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/landing/banner-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 80vh;
}

.text-hoover {
  position: relative;
}

h1 {
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  color: hsl(0, 0%, 28%);
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
  height: 10vh;
}

h1 span {
  transition: 0.5s ease-out;
}

h1:hover span:nth-child(1) {
  margin-right: 5px;
}

h1:hover span:nth-child(1):after {
  content: "MPERIUM";
}

h1:hover span:nth-child(2) {
  margin-left: 30px;
}

h1:hover span:nth-child(2):after {
  content: "AKE IT"
}

h1:hover span:nth-child(3) {
  margin-left: 30px;
}

h1:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}