@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body{
  background-color: #f3f6fd;
  font-family:'DM Sans', sans-serif;
}
.header-error {
    width: 50%;
    margin: 0 auto;
}

.cards {
    display: flex;
}


#card {
    margin: 10px;
    display: flex;
    justify-content: column; 
}

.card-body {
    position: right;
    padding-bottom:-20px;
 
}

.newProjectLink{
  color:#8a51a5;
  font-weight: bold;
}

.sidebar{
    background-color:#313348;
    border-radius:0px 10px 10px 0px;
}
.title{
    color:beige;
}
#caret-down{
  padding-left:90px;
}
.fullname{
    font-weight:bold;
    white-space: nowrap;
    display:inline;
    display:inline;
}
.welcometext{
    display:inline;
}
#welcomebox{
  background-color: white;
  height:50px;
  color: black;
  border-radius: 20px;
}


#projectsharedTitle{
    margin-top:40px;
}
