@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.header-error {
    width: 50%;
    margin: 0 auto;
}

.cards {
    display: flex;
}

.newProjectLink{
  color:#8a51a5;
  font-weight: bold;
}

.sidebar{
    background-color:#313348;
    border-radius:0px 10px 10px 0px;
}
.title{
    color:beige;
}
#caret-down{
  padding-left:90px;
}
.fullname{
    font-weight:bold;
    white-space: nowrap;
    display:inline;
    display:inline;
}
.welcometext{
    display:inline;
}
#welcomebox{
  background-color: white;
  height:50px;
  color: black;
  border-radius: 20px;
}


#projectsharedTitle{
    margin-top:40px;
}

.shareButton{
  position:relative;
  margin-left: 800px;
  margin-top: -25px;
  margin-right:10px;
}
.AddList{
  margin-top: -25px;
  position:relative;
  
}

.Share{
  border-radius: 20px;
}

/*****************
*
** BOARD STYLE 
*
******************/

.hr-5 {
  width: 80%;
  border: none;
  height: 5px !important;
  color: white;
  margin: 0 auto;
}

/**** BOARD CONTAINER ****/
.board-container {
  display: flex;
  background-color: #464968;
  margin-top: 50px;
}

.board {
  background-color: #313348;
  margin: 25px;
  height: 80vh;
  width: 400px;
  overflow: hidden;
}

.board-body {
  display: flex;
  flex-direction: column;
  margin: 15px;
  height: 85%;
  overflow-y: scroll;
  bottom: 0;
  position: relative;
}

/*** SCROLL BARR CSS ***/

.board-body::-webkit-scrollbar {
  width: 10px;
}

.board-body::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
.board-body::-webkit-scrollbar-thumb {
  background: #888; 
}

.board-body::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/**** BOARD HEADER ****/
.board-title-container {
  display: flex;
  justify-content: space-around;
}

.board-title {
  text-align: left;
  color: white;
  font-weight: bold;
}

.create-task {
  margin: 5px;
}

.delete-board {
  position: relative;
  top: 10px;
  left: 90%;
  text-decoration: none;
}

/**** TASK STYLES ****/

.task-container {
  background-color: white;
  border: 2px solid #0033a1;
  border-radius: 10px;
  margin: 5px;
}

.task {
  margin: 10px;
  min-height: 100px;
}

.task-header {
  font-weight: bold;
  display: flex;
  width: 95%;
}

.task-option, .task-option-icon {
  position: sticky;
  left: 95%;
  color: black;
  text-decoration: none;
}

.task-option-icon:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
  cursor: pointer;
}

/**** CREATE TASK ****/

.create-task-container {
  display: none;
  background: white;
  border: 2px solid black;
  min-height: 150px;
  border-radius: 10px;
  margin: 5px;
}

.create-task {
  margin: 10px;
}

.create-task-title {
  font-weight: bold;
}

.create-task-input {
  width: 100%;
}

.create-task-footer {
  display: flex;
  margin-top: 15px;
}

.btn-create-task {
  margin-right: 25px;
}

.task-footer {
  display: flex;
  justify-content: right;
  position: relative;
  top: 20px;
}

.task-contributor {
  display: flex;
  list-style: none;
  margin: 0;
}

.task-avatar {
  width: 25px;
  height: 25px;
}